# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Certifcation UpGrad Classes\End_Term\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
